
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
       <%= image_tag "logo.svg" %>
      </a>
    </div>
  </div>
</nav>


<div id="container">

	<h1>Pages#home</h1>
	<p>Find me in app/views/pages/home.html.erb</p>

</div>

