<style>
	.skilltype {
		height:200px;
		border-radius:5px;
		width:31%;
		min-width:200px;
		background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), no-repeat center center fixed;
		-webkit-background-size: cover;
    	-moz-background-size: cover;
      	-o-background-size: cover;
      	background-size: cover;
      	display:inline-block;
      	margin:1%;
	}

	.skilltype .skill {
		color:white;
		position:relative;
		top:140px;
		font-size: 30px;
		padding:10px;
	}

	.mybutton{
	    background:#f26271;
	    color:white;
	    border:none;
	    float:right;
  	}

  	.selected{
  		border:2px solid red;
  	}


</style>


<div class="container" style="text-align:center">

	<h1>Tell us more.</h1>
	<p>What are you already skilled at and what do you want to learn? Let us help you reach your goals.</p>
	<div class="panel panel-default">
	  <div class="panel-body" style="text-align:left">
	    <h2>Developing Skills</h2>
	    <p>What new skills do you want to learn? Pick up to 3 skills.</p>
	    <div class="well" id="allskills">

			<div class="skilltype  selected">
				<div class="skill">Graphic Design</div>
			</div>

			<div class="skilltype">
				<div class="skill">iOS Development</div>
			</div>
				
			<div class="skilltype">
				<div class="skill">Web Design</div>
			</div>

			<div class="skilltype">
				<div class="skill">Front End Dev</div>
			</div>

			<div class="skilltype">
				<div class="skill">Photography</div>
			</div>

			<div class="skilltype selected">
				<div class="skill">Spanish</div>
			</div>

			<div class="skilltype">
				<div class="skill">Android</div>
			</div>

			<div class="skilltype">
				<div class="skill">Copywriting</div>
			</div>

			<div class="skilltype">
				<div class="skill">Portugese</div>
			</div>


			<div class="skilltype">
				<div class="skill">Back End Dev</div>
			</div>

			<div class="skilltype">
				<div class="skill">Marketing</div>
			</div>

			<div class="skilltype">
				<div class="skill">Woodworking</div>
			</div>
		</div>
		<%= link_to "Finished!", profile_path, class: "mybutton btn btn-lg btn-default" %>
	  </div>
	</div>

<script>
	var counter=0;

	$( ".skilltype" ).on("click", function() {
			console.log("click!")
			console.log(this)
			if (counter<3) {
	  			$(this).css({ border: "2px solid black"} );	
	  			counter++;
	  		}
	});

</script>