<style>
	.skilltype {
		height:200px;
		border-radius:5px;
		width:31%;
		min-width:200px;
		background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), no-repeat center center fixed;
		-webkit-background-size: cover;
    	-moz-background-size: cover;
      	-o-background-size: cover;
      	background-size: cover;
      	display:inline-block;
      	margin:1%;
	}

	.skilltype .skill {
		color:white;
		position:relative;
		top:140px;
		font-size: 30px;
		padding:10px;
	}

	.skilltype:hover{
		border: 2px solid #;
	}

	.mybutton{
    background:#f26271;
    color:white;
    border:none;
    float:right;
  }

</style>


<div class="container" style="text-align:center">

	<h1>Tell us more.</h1>
	<p>What are you already skilled at and what do you want to learn? Let us help you reach your goals.</p>
	<div class="panel panel-default">
	  <div class="panel-body" style="text-align:left">
	    <h2>Core Skills</h2>
	    <p>These are the skills that you already have and can contribute to projects. Pick 
two core skills.</p>
	    <div class="well" id="allskills">

			<div class="skilltype">
				<div class="skill">skill</div>
			</div>

			<div class="skilltype">
				<div class="skill">skill</div>
			</div>
				
			<div class="skilltype">
				<div class="skill">skill</div>
			</div>

			<div class="skilltype">
				<div class="skill">skill</div>
			</div>

			<div class="skilltype">
				<div class="skill">skill</div>
			</div>

			<div class="skilltype">
				<div class="skill">skill</div>
			</div>

			<div class="skilltype">
				<div class="skill">skill</div>
			</div>

			<div class="skilltype">
				<div class="skill">skill</div>
			</div>

			<div class="skilltype">
				<div class="skill">skill</div>
			</div>


			<div class="skilltype">
				<div class="skill">skill</div>
			</div>

			<div class="skilltype">
				<div class="skill">skill</div>
			</div>

			<div class="skilltype">
				<div class="skill">skill</div>
			</div>
		</div>
		<%= link_to "Almost there!", skills2_path, class: "mybutton btn btn-lg btn-default" %>
	  </div>
	</div>

<script>
	$( ".skilltype" ).click(function() {
	  ( this ).css( "border: 2px black" );
	});

</script>